<h1> Welcome to Rock Paper Scissors</h1>
<div>
  <p>Player 1 must pick either Rock, Paper or Scissors.</p>
  <p>Then player 2 must pick from the same.</p>
  <p>Then, the choices are compared.</p>
  <p>Paper beats Rock, Scissors beats Paper and Rock beats Scissors - if you choose the same, the game is a draw!</p>
</div>
<h2>Now player 1 choose:</h2>
<div class="list-group">
  <a href="/rock" class="list-group-item list-group-item-action">Rock</a>
  <a href="/paper" class="list-group-item list-group-item-action">Paper</a>
  <a href="/scissors" class="list-group-item list-group-item-action">Scissors</a>
</div>
