<h1> Welcome to Rock Paper Scissors</h1>
<p>Player 1 must pick either Rock, Paper or Scissors. Then player 2 must pick from the same. Then, the choices are compared. Paper beats Rock, Scissors beats Paper and Rock beats Scissors </p>
<h2>Now player 1 choose:</h2>
<ul>
<li><a href="/rock">Rock</a></li>
<li><a href="/paper">Paper</a></li>
<li><a href="/scissors">Scissors</a></li>
</ul>
