<h2>Now player 2 choose:</h2>
<ul>
<li><a href="<%= @p1_choice %>/rock">Rock</a></li>
<li><a href="<%= @p1_choice %>/paper">Paper</a></li>
<li><a href="<%= @p1_choice %>/scissors">Scissors</a></li>
</ul>
