<h2>Now player 2 choose:</h2>

<div class="list-group">

  <a href="<%= @p1_choice %>/rock" class="list-group-item list-group-item-action">Rock</a>
  <a href="<%= @p1_choice %>/paper" class="list-group-item list-group-item-action">Paper</a>
  <a href="<%= @p1_choice %>/scissors" class="list-group-item list-group-item-action">Scissors</a>

  </div>
